body {
    margin: 0 auto;
    font-family: sans-serif;
}
body:after {
    content: '';
    display: block;
    background: url('../images/screenshot.png') top center no-repeat;
    width: 1200px;
    height: 3067px;
    position: absolute;
    top: 0;
    left: 353px;
    opacity: 0.6;
}
body:hover:after {
    display: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 1200px;
    height: 3067px;
    margin: 0 auto;
    background-color: aquamarine;
}
.container:after {
    content: '';
    display: block;
    clear: both;
}
.right {
    text-align: right;
}
img {
    width: 1200px;
    margin: 0 auto;
    height: 542px;
}
.top-bar-logo {
    position: absolute;
    top: 3%;
    left: 28%;
    width: 87px;
    height: 27px;
    margin: 0 auto;
    background: url("../images/logo.png") no-repeat;
}